@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap');

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

h1 {
  font-weight: 500;
}

li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  color: inherit;
}